<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVRJHcZBaY2L4vf7B21PjpXff0GqZuU9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>209904933376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mabDrive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mab-drive</string>
	<key>STORAGE_BUCKET</key>
	<string>mab-drive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209904933376:ios:23097bc9a5b50622f116e5</string>
</dict>
</plist>